@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

* {
    font-family: 'Poppins';
}

.dark {
    fill: aliceblue;
}

.dark:hover {
    fill: gray;
}

.home-bg{
    background: radial-gradient(30% 30% at 20% 60%, rgba(255, 199, 0, 0.2) 0%, rgba(255, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #494949;
}

.figma-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-card {
    background: radial-gradient(23.58% 27.25% at 26.42% 80.63%, rgba(255, 230, 0, 0.49) 0%, rgba(255, 99, 99, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(23.22% 45.37% at 19.8% 22.25%, rgba(72, 0, 163, 0.47) 0%, rgba(112, 0, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(118.31deg, #E74343 19.42%, #45FF8F 96.2%);
}

.card-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.network-transition {
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;
    visibility: hidden;
    opacity: 0;
}
.mobile-card {
    background: linear-gradient(180deg, #954242 0%, rgba(73, 73, 73, 0) 50%, #494949 100%), #494949;
}